body { font-family: "Bookman Old Style";
	 }
footer { font-size: .70em;
	     font-style: italic;
		 margin-left: 180px;
		 padding: 1em;
		 text-align: center; 
		}
h1 { text-align: center;
	 font-size: 290%;
	 margin-left: 180px;
	 color: #3432c8;
	 margin-top: -5px;
	 text-decoration: underline;
	}
h2 { color: #0090ff; 
	 margin-bottom: -8px; }
html { background-image: url(seemlesswhite.png);
	 }
nav a:hover { color: #0a780a; }
nav a:link { color: #3296c8; }
nav a:visited { color: #0a7739; }
p { color: darkblue; 
  }	   
.ul_normal { display: inline-block;
			  width: auto;
			  height: auto;
			  
			  color: darkblue; 
			}
.connector { color: darkgreen;
			 font-family: fantasy;
			 font-style: italic;
			 }
.collapsible {
			  background-color: green;
			  color: white;
			  cursor: pointer;
			  padding: 5px;
			  width: 100%;
			  border: none;
			  text-align: left;
			  outline: none;
			  font-size: 15px;
			}
.subCollapsible {
				background-color: white;
				color: black;
				cursor: pointer;
				width: 100%;
				border: none;
				text-align: left;
				outline: none;
				}
.collapsible:after {
					  content: "\25ba"; /* Unicode character for "black right-pointing triangle" sign */
					  float: left;
					  margin-right: 8px;
					  font-size: 85%;
					}
.active:after {
				content: "\25bc"; /* Unicode character for "black down-pointing triangle" sign */
			  }

.subCollapsible:after {
					  content: "\25ba"; /* Unicode character for "black right-pointing triangle" sign */
					  float: left;
					  margin-right: 8px;
					  font-size: 85%;
					}
.subActive:after {
				  content: "\25bc"; /* Unicode character for "black down-pointing triangle" sign */
				 }
.active, collapsible:hover {
							 background-color: darkgreen;
							}

.subActive, subCollapsible:hover {
								  background-color: grey;
								 }
.content {
		  padding: 0 18px;
		  display: none;
		  overflow: hidden;
		  background-color: #f1f1f1;
		 }
.invisibleBullet { list-style: none; /*make bullet invisible for subCollapsible button*/
				   margin-left: -20px; /*remove the extra margin from the initial ul level*/
				 }
#intro { margin-left: 200px;
		 }
#nav1 { height: 100%; /* Full-height */
		width: 200px;
		position: fixed; /* Fixed Sidebar (stay in place on scroll) */
		z-index: 1; /* Stay on top */
		top: -15px;
		left: -25px;
		background-color: #0077ff;
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 20px;
		padding-right: 10px;
		color: #39d675;
		line-height: 20pt;
	  }
#nav1 li { font-size: 1.3em;
		   display: block;
		   padding-bottom: 7px;
		 }
#footerNav { margin-left: 180px;
		color: green;
		text-align: center;
	  }
#wrapper {  }

@media only screen and (max-width: 1080px) {
		h1 { font-size: 200%; }
}
@media only screen and (max-width: 768px) {
		h1 { 
			 font-size: 150%; }
		#nav1 { width: 120px;
				line-height: 16pt; }
		#nav1 li { font-size:1em; }
		#nav2 { margin-left: 105px; }
		.ul_normal { margin-left: -20px; 
					 font-size: 90%;
					}
		#shoppingAppIntro { margin-left: 105px; }
		#wrapper {
					margin-left: -85px;
				 }
}